* {
  margin: 0;
  font-family: 'Lato', sans-serif;
}
body {
    display: grid;
    color: #8b0505;
    background-color: rgb(38, 42, 70);
    grid-template-columns: 1fr;
}

nav ul li a {
    
    color: #fafafa;
    margin: 0 1rem;
    font-size: 1.5rem;
    text-decoration: none;
    }

nav ul {
  padding: 10px 0 ;
  list-style: none;
  background-color: #333751;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  height: auto;
  width: 90vw;
}

header {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 5rem;
  background: linear-gradient(91deg, #E4CB85 0.52%, #AABAF7 99.14%);
  color: white;
  font-size: 30px;

}


footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;   /* Height of the footer må endre til padding osv.. */
    background: linear-gradient(91deg, #E4CB85 0.52%, #AABAF7 99.14%);
  }

h1 {
  display: none;
}

.searchbar {
  background-color:#333751;
  align-items: center;
  padding: 1.5rem;
  margin: 1rem 1.5rem;
  border-radius: 1rem;
}
body{
  border: 1px solid;
}

.backgroundbox {
  background-color: #333751;
  margin: 1rem 1.5rem;
  border-radius: 1rem;;
}

.cardimg {
  display: block;
  border: 5px solid green;
  
  margin-inline:auto;
  border-radius: 5%;
 }