* {
  margin: 0;
}
.cards {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: auto;
    margin: 1rem 1.5rem;
  }
  
  .card {
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /**/
    border: 1px solid #3FA535;/**/
    max-width: 350px;
    margin: 1rem;
    text-align: center;
    font-family: sans-serif;
    position: relative; /*To make whole card a link*/
    background-color: #333751;
    color: white;
  }
  .card h2, .card p { 
    padding: 0 10px; 
  }
  
  .card img {
    width: 100%;
  }
  
  .price {
    color: white;
    font-size: 2rem;
  }
  
  .card a {
    display: block;
    border: none;
    padding: 1.5rem;
    color: white;
    font-weight: bold;
    background-color: #3FA535;
    text-decoration: none;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 1rem;

  }
  
  .card a:hover {
    opacity: 0.7;
  }
  
  /*Make the whole card a link*/
  .card a::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
  }
  h2{
    font-size: 2rem;
    font-variant-caps: all-petite-caps;
    margin: 0.5rem 0;
  }

  h1 { 
    text-align: center; 
  }
  @media (min-width: 800px) {
    .cards {
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
    }
    .card {
      margin: 10px;
      display: flex; /* Place a on bottom */
      flex-direction: column;
    }
    .card > * {
      flex-grow: 0; /* Place a on bottom */
    }
    .card > p.info {
      flex-grow: 1; /* Place a on bottom, by expanding info */
    }
  }